.logincontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.logincontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h2{

  text-align: center; 
  color: black
}
