<div fxLayout="column" fxLayoutGap="20px">

  <div><b>Collaborators</b></div>
   <div fxLayout="row">
     <img src="assets/icons/Red.png" alt="Alternative text." width="42" height="42">
    {{user.name}}<span >(Owner)</span>
   </div>
  <div fxLayout="row">
    <mat-icon>person_add </mat-icon>
     <mat-form-field>
      <input matInput placeholder="Person or email to share with" [(ngModel)]="model.name">
     </mat-form-field>
   
  </div>
  <div><button type="submit" (click)="shareNotes()" mat-raised-button>Done</button></div>
</div>
