<div fxLayout="column" fxLayoutGap="12px">

    <div *ngIf="data.image">
        <img [src]="data.imageString" style="margin-left: 70px;"/>
        <button mat-menu-item (click)="deleteImage(data)" style="margin-left: 315px;
             margin-top: -40px;">
        <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div id="update-title" contenteditable='true' data-text='Title' class="editable line-height"name="title" (input)="data.title=$event.target.innerHTML"></div>
    <div id="update-description" contenteditable='true' data-text='Take a note..' class="editable line-height" name="description" (input)="data.description=$event.target.innerHTML"></div>
    <div>
        <button mat-button style="margin-left: 88%;" (click)="updateNote()">Done</button>
    </div>

</div>