.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

  .example-container {
      height: 100vh;
  }
    .example-icon {
  padding: 0 14px;
}

/* .example-spacer {
  flex: 11 auto;
}

.search-design{
  width: 500px;
   height: 38px;
   
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('assets/icons/account.svg');
  background-size: cover;
}
.rowDesign{
  background-color: silver;
  border-top-style: ridge;
}*/
.login-design{
  margin-left: 78%;
} 