<div style="height: 100vh;margin-top: -8px;">

  <mat-toolbar style="background-color:rgb(255, 187, 0);">

    <div>
      <button mat-icon-button (click)="sidenav.toggle()" href="#"> 
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div>
      <span>ToDo App</span>
    </div>
    <div>
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <input matInput aria-label="Search" autocomplete="off" placeholder="search" value name="q" role="combobox">


        <div class="login-design">
      <button mat-icon-button [matMenuTriggerFor]="login">
                <img src="/assets/icons/account.svg">
              </button>
    </div>
    <mat-menu #login="matMenu">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="30px">
          <div>

            <div class="example-header-image"></div>

          </div>

          <div>

            <button mat-raised-button color="primary">My Account</button>

          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" style="background-color: whitesmoke;height: 74px;margin-left: 21px;">
          <div>

            <div>
              <img style="height:30px;margin-top: 10px;" src="/assets/icons/account.svg">
            </div>

          </div>

        </div>
        <div fxLayout="row" fxLayoutGap="70px" class="rowDesign">
          <div>
            <button mat-raised-button color="primary">Add Account</button>
          </div>
          <div>
            <button type="submit" mat-raised-button color="primary" (click)="signOut()">Sign out</button>
          </div>
        </div>
      </div>
    </mat-menu>


  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sidenav opened fxLayout="column">
      <div fxLayout="column">
        <div>
          <a routerLink="/home/note" routerLinkActive="mat-primary" mat-button>
            <mat-icon>lightbulb_outline</mat-icon> Note</a>
        </div>
        <div>
          <a routerLink="/home/trash" routerLinkActive="mat-primary" mat-button>
            <mat-icon>delete</mat-icon> Trash </a>
        </div>
        <div>
          <a routerLink="/home/archive" routerLinkActive="mat-primary" mat-button>
            <mat-icon>archive</mat-icon> Archive </a>
        </div>
        <div>
          <a routerLink="/home/reminder" routerLinkActive="mat-primary" mat-button>
            <img src="/assets/icons/reminder.svg"> Reminders </a>
        </div>

        <div>
          <button mat-menu-item>
            <span>Labels</span>
          </button>
        </div>
        <div *ngFor="let label of labels">
          <div>
            <button mat-menu-item>
                <mat-icon>label</mat-icon>
                <span>{{label.name}}</span>
            </button>
          </div>
        </div>
        <div>
          <button mat-menu-item (click)="openDialog()">
            <mat-icon>add</mat-icon>
            <span>Create new lable</span>
          </button>
        </div>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <!-- <app-note></app-note>  -->
</div>