<div fxLayout="column" fxLayoutGap="20px">

  <div><b>Edit labels :</b></div>
  <div>
     <mat-form-field >
      <input matInput placeholder="Create new label" [(ngModel)]="model.name">
     </mat-form-field>
  </div>

   <div *ngFor="let label of labels">
     <img matTooltip="Delete label" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" [src]="imgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (click)="deleteLabel(label.labelId)"/>
          <div>
            <!-- <button mat-menu-item>
                <mat-icon>label</mat-icon>
                <span>{{label.name}}</span>
            </button> -->
              <input contenteditable="true" matInput [(ngModel)]="label.name">
          </div>
        </div>
    <div><button type="submit" (click)="createLabel()" mat-raised-button>Done</button></div>
</div>


<!-- 
<h3>Edit labels</h3>


<div class="card-container" fxLayout="column" fxLayoutAlign="center" style=" overflow:hidden;">

<div fxLayout="row" fxLayoutAlign="center center">

<div fxFlex="15" fxLayoutAlign="start" >
<img matTooltip="Delete label" matTooltipShowDelay="100" style="width:22px;margin-left: 12px;margin-top:10px" src="/assets/icons/clear.svg" (click)="changeStatus()"/>
</div>

<div fxFlex="70">
<mat-form-field>
<input contenteditable="true" matInput placeholder="create new label" type="text" name="labelTitle" [(ngModel)]="model.labelTitle" (click)="changeStatus()">
</mat-form-field>
</div>

<div fxFlex="15" *ngIf="showHide1">
<img matTooltip="create label" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="/assets/icons/checkmark.png" (click)="createLabel(label);changeStatus()" />
</div>
</div>


<div fxLayout="row" fxLayoutAlign="center center" *ngFor="let label of labels">
<div fxFlex="20" >
<img matTooltip="Delete label" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" [src]="imgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (click)="deleteLabel(label.labelId)"/>
</div>

<div fxFlex="70">
<input contenteditable="true" matInput [(ngModel)]="label.labelTitle">
</div>
<div fxFlex="15">
<button mat-icon-button (click)="renameLabel(label)">
<mat-icon matTooltip="Rename label">create</mat-icon>
</button>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="end" >
<button type="submit" (click)="createLabel()" mat-raised-button style="margin-top: 160px;">Done</button>
</div>
</div> -->