 <div fxLayoutAlign="center center">
  <mat-card style="width:41%; padding: 0px; margin-top: 15px;">
    <div contenteditable='true' class="editable" (click)="show=!show" *ngIf="!show">
      Take a note..
    </div>
  </mat-card>
</div>

<div fxLayoutAlign="center center" *ngIf="show" style="margin-top: 15px;">

  <mat-card style="width: 41%; padding: 5px; ">
    <div style="font-weight: bold; padding: 10px 5px;" contenteditable='true' data-text='Title' class="edit line-height" name="title" (input)="model.title=$event.target.innerHTML"></div>
    <div style="padding: 12px 5px 15px 5px;" contenteditable='true' data-text='Take a note..' class="edit line-height" name="description" (input)="model.description=$event.target.innerHTML"></div>

    <mat-card-actions>
      <button type="submit" mat-button style="margin-left: 80%;" (click)="createNote()">Submit</button>
    </mat-card-actions>
  </mat-card>

</div>

<!-- <mat-card style="width:41%; padding: 0px; margin-top: 15px;">
  <mat-card-header> 
    <mat-card-title>Notes</mat-card-title>
    <mat-card-subtitle>Note</mat-card-subtitle>
  </mat-card-header>
</mat-card> -->
