 <div  fxLayout="row" fxLayoutGap="10px" *ngFor="let note of notes" >
     <div *ngIf="note.trash=== true"> 
    <div fxLayout="row">
    <mat-card class="example-card" style=" width: max-content; align-items: 200px; MARGIN-LEFT: 200PX; MARGIN-TOP: 50PX;">
      <mat-card-header>
        <b>{{note.title}}</b>
      </mat-card-header>
      <mat-card-header>
        {{note.description}}
      </mat-card-header>
       <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">

                <button type="submit" mat-menu-item (click)="deleteNote(note.noteId)">
              <span>Delete Forever</span>
              </button>

            <button type="submit" mat-menu-item (click)="restoreNotes(note,'false','trash')">

            <span>Restore</span>
            </button>
            </mat-menu>
         </div>
    </mat-card>
     </div> 
    </div>
  </div>