[contentEditable=true]:empty:before{
  content:attr(data-text)
}
.edit {
word-wrap: break-word;
white-space: pre-wrap;
outline: none;
line-height: 20px; 
} 
.example-card {
  max-width: 400px;
  height: 100px;
}
.full-width {
  width: 100%;
}
.line-height{
  line-height: 20px;
}
.class-container{
  margin-top: 25px;
}
.mat-div{
  margin-top: 15px;
}